<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <!-- ACCIONES MODELO: ESTUDIANTES - PARA: ADMINISTRADOR -->
        <record id="student_actions_administrator" model="ir.actions.act_window">
            <field name="name">Estudiantes</field>
            <field name="res_model">python_odoo8_module.student</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="student_tree_view"/>
            <field name="search_view_id" ref="student_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="student_action_admin_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="student_actions_administrator"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="student_form_view"/>
        </record>
        <!-- ACCIONES MODELO: ESTUDIANTES - PARA: PROFESOR -->
        <record id="student_actions_teacher" model="ir.actions.act_window">
            <field name="name">Estudiantes</field>
            <field name="res_model">python_odoo8_module.student</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="student_tree_view"/>
            <field name="search_view_id" ref="student_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="student_action_teacher_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="student_actions_teacher"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="student_form_view"/>
        </record>
        <!-- ACCIONES MODELO: ESTUDIANTES - PARA: ESTUDIANTE -->
        <record id="student_actions_student" model="ir.actions.act_window">
            <field name="name">Mi Información</field>
            <field name="res_model">python_odoo8_module.student</field>
            <field name="view_type">form</field>
            <field name="view_mode">form</field>
            <field name="target">current</field>
        </record>
        <record id="student_action_student_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="student_actions_student"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="student_form_view"/>
        </record>

        <!-- ACCIONES MODELO: PROFESORES - PARA: ADMINISTRADOR -->
        <record id="teacher_actions_administrator" model="ir.actions.act_window">
            <field name="name">Profesores</field>
            <field name="res_model">python_odoo8_module.teacher</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="teacher_tree_view"/>
            <field name="search_view_id" ref="teacher_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="teacher_action_admin_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="teacher_actions_administrator"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="teacher_form_view"/>
        </record>

        <!-- ACCIONES MODELO: PROFESORES - PARA: PROFESOR -->
        <record id="teacher_actions_teacher" model="ir.actions.act_window">
            <field name="name">Mi Informacion</field>
            <field name="res_model">python_odoo8_module.teacher</field>
            <field name="view_type">form</field>
            <field name="view_mode">form</field>
            <field name="view_id" ref="teacher_tree_view"/>
            <field name="search_view_id" ref="teacher_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="teacher_action_teacher_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="teacher_actions_teacher"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="teacher_form_view"/>
        </record>

        <!-- ACCIONES MODELO: MATERIAS - PARA: ADMINISTRADOR -->
        <record id="subject_actions_administrator" model="ir.actions.act_window">
            <field name="name">Materias</field>
            <field name="res_model">python_odoo8_module.subject</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="subject_tree_view"/>
            <field name="search_view_id" ref="subject_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="subject_action_admin_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="subject_actions_administrator"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="subject_form_view"/>
        </record>

        <!-- ACCIONES MODELO: MATERIAS - PARA: PROFESOR -->
        <record id="subject_actions_teacher" model="ir.actions.act_window">
            <field name="name">Materias</field>
            <field name="res_model">python_odoo8_module.subject</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="subject_tree_view"/>
            <field name="search_view_id" ref="subject_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="subject_action_teacher_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="subject_actions_teacher"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="subject_form_view"/>
        </record>

        <!-- ACCIONES MODELO: MATERIAS - PARA: ESTUDIANTE -->
        <record id="subject_actions_student" model="ir.actions.act_window">
            <field name="name">Materias</field>
            <field name="res_model">python_odoo8_module.subject</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="subject_tree_view"/>
            <field name="search_view_id" ref="subject_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="subject_action_student_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="subject_actions_student"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="subject_form_view"/>
        </record>

        <!-- ACCIONES MODELO: AULAS - PARA: ADMINISTRADOR -->
        <record id="classroom_actions_administrator" model="ir.actions.act_window">
            <field name="name">Aulas</field>
            <field name="res_model">python_odoo8_module.classroom</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="classroom_tree_view"/>
            <field name="search_view_id" ref="classroom_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="classroom_action_admin_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="classroom_actions_administrator"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="classroom_form_view"/>
        </record>

        <!-- ACCIONES MODELO: AULAS - PARA: PROFESOR -->
        <record id="classroom_actions_teacher" model="ir.actions.act_window">
            <field name="name">Aulas</field>
            <field name="res_model">python_odoo8_module.classroom</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="classroom_tree_view"/>
            <field name="search_view_id" ref="classroom_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="classroom_action_teacher_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="classroom_actions_teacher"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="classroom_form_view"/>
        </record>

        <!-- ACCIONES MODELO: AULAS - PARA: ESTUDIANTE -->
        <record id="classroom_actions_student" model="ir.actions.act_window">
            <field name="name">Aulas</field>
            <field name="res_model">python_odoo8_module.classroom</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="classroom_tree_view"/>
            <field name="search_view_id" ref="classroom_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="classroom_action_student_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="classroom_actions_student"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="classroom_form_view"/>
        </record>

        <!-- ACCIONES MODELO: AGENDA - PARA: ADMINISTRADOR -->
        <record id="schedule_actions_administrator" model="ir.actions.act_window">
            <field name="name">Agenda académica</field>
            <field name="res_model">python_odoo8_module.schedule</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="schedule_tree_view"/>
            <field name="search_view_id" ref="schedule_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="schedule_action_admin_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="schedule_actions_administrator"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="schedule_form_view"/>
        </record>

        <!-- ACCIONES MODELO: AGENDA - PARA: PROFESOR -->
        <record id="schedule_actions_teacher" model="ir.actions.act_window">
            <field name="name">Agenda académica</field>
            <field name="res_model">python_odoo8_module.schedule</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="schedule_tree_view"/>
            <field name="search_view_id" ref="schedule_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="schedule_action_teacher_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="schedule_actions_teacher"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="schedule_form_view"/>
        </record>

        <!-- ACCIONES MODELO: AGENDA - PARA: ESTUDIANTE -->
        <record id="schedule_actions_student" model="ir.actions.act_window">
            <field name="name">Agenda académica</field>
            <field name="res_model">python_odoo8_module.schedule</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="schedule_tree_view"/>
            <field name="search_view_id" ref="schedule_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="schedule_action_student_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="schedule_actions_student"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="schedule_form_view"/>
        </record>

        <!-- ACCIONES MODELO: EXÁMENES - PARA: ADMINISTRADOR -->
        <record id="exam_actions_administrator" model="ir.actions.act_window">
            <field name="name">Exámenes</field>
            <field name="res_model">python_odoo8_module.exam</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="exam_tree_view"/>
            <field name="search_view_id" ref="exam_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="exam_action_admin_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="exam_actions_administrator"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="exam_form_view"/>
        </record>

        <!-- ACCIONES MODELO: EXÁMENES - PARA: PROFESOR -->
        <record id="exam_actions_teacher" model="ir.actions.act_window">
            <field name="name">Exámenes</field>
            <field name="res_model">python_odoo8_module.exam</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="exam_tree_view"/>
            <field name="search_view_id" ref="exam_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="exam_action_teacher_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="exam_actions_teacher"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="exam_form_view"/>
        </record>

        <!-- ACCIONES MODELO: EXÁMENES - PARA: ESTUDIANTE -->
        <record id="exam_actions_student" model="ir.actions.act_window">
            <field name="name">Exámenes</field>
            <field name="res_model">python_odoo8_module.exam</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="exam_tree_view"/>
            <field name="search_view_id" ref="exam_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="exam_action_student_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="exam_actions_student"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="exam_form_view"/>
        </record>

        <!-- ACCIONES MODELO: RESULTADOS - PARA: ADMINISTRADOR -->
        <record id="result_actions_administrator" model="ir.actions.act_window">
            <field name="name">Resultados de exámenes</field>
            <field name="res_model">python_odoo8_module.result</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="result_tree_view"/>
            <field name="search_view_id" ref="result_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="result_action_admin_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="result_actions_administrator"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="result_form_view"/>
        </record>

        <!-- ACCIONES MODELO: RESULTADOS - PARA: PROFESOR -->
        <record id="result_actions_teacher" model="ir.actions.act_window">
            <field name="name">Resultados de exámenes</field>
            <field name="res_model">python_odoo8_module.result</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="result_tree_view"/>
            <field name="search_view_id" ref="result_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="result_action_teacher_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="result_actions_teacher"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="result_form_view"/>
        </record>

        <!-- ACCIONES MODELO: RESULTADOS - PARA: ESTUDIANTE -->
        <record id="result_actions_student" model="ir.actions.act_window">
            <field name="name">Mis resultados</field>
            <field name="res_model">python_odoo8_module.result</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="result_tree_view"/>
            <field name="search_view_id" ref="result_search_view"/>
            <field name="target">current</field>
        </record>
        <record id="result_action_student_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="result_actions_student"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="result_form_view"/>
        </record>

        <menuitem id="primary_menu_administrator" name="Administración Estudiantil" sequence="1" groups="python_odoo8_module.admin_role_group"/>
        <menuitem id="submenu_student_administrator" name="Administracion | Estudiantes" parent="primary_menu_administrator" action="student_actions_administrator" groups="python_odoo8_module.admin_role_group,base.group_system"/>
        <menuitem id="submenu_teacher_administrator" name="Administracion | Profesores" parent="primary_menu_administrator" action="teacher_actions_administrator" groups="python_odoo8_module.admin_role_group,base.group_system"/>
        <menuitem id="submenu_subject_administrator" name="Administracion | Materias" parent="primary_menu_administrator" action="subject_actions_administrator" groups="python_odoo8_module.admin_role_group,base.group_system"/>
        <menuitem id="submenu_classroom_administrator" name="Administracion |Aulas" parent="primary_menu_administrator" action="classroom_actions_administrator" groups="python_odoo8_module.admin_role_group,base.group_system"/>
        <menuitem id="submenu_schedule_administrator" name="Administracion | Horarios" parent="primary_menu_administrator" action="schedule_actions_administrator" groups="python_odoo8_module.admin_role_group,base.group_system"/>
        <menuitem id="submenu_exam_administrator" name="Administracion | Exámenes" parent="primary_menu_administrator" action="exam_actions_administrator" groups="python_odoo8_module.admin_role_group,base.group_system"/>
        <menuitem id="submenu_result_administrator" name="Administracion | Resultados" parent="primary_menu_administrator" action="result_actions_administrator" groups="python_odoo8_module.admin_role_group,base.group_system"/>

        <menuitem id="primary_menu_teacher" name="Portal Academico" sequence="2" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_student_teacher" name="Mis Estudiantes" parent="primary_menu_teacher" action="student_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_teacher_teacher" name="Mi Información" parent="primary_menu_teacher" action="teacher_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_subject_teacher" name="Materias" parent="primary_menu_teacher" action="subject_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_classroom_teacher" name="Aulas" parent="primary_menu_teacher" action="classroom_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_schedule_teacher" name="Agenda académica" parent="primary_menu_teacher" action="schedule_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_exam_teacher" name="Exámenes" parent="primary_menu_teacher" action="exam_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_result_teacher" name="Resultados de exámenes" parent="primary_menu_teacher" action="result_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>

        <menuitem id="primary_menu_student" name="Portal Estudiantil" sequence="3" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_student_student" name="Mi Información" parent="primary_menu_student" action="student_actions_student" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_subject_student" name="Materias" parent="primary_menu_student" action="subject_actions_student" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_classroom_student" name="Aulas" parent="primary_menu_student" action="classroom_actions_student" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_schedule_student" name="Agenda académica" parent="primary_menu_student" action="schedule_actions_student" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_exam_student" name="Exámenes" parent="primary_menu_student" action="exam_actions_student" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_result_student" name="Mis resultados" parent="primary_menu_student" action="result_actions_student" groups="python_odoo8_module.student_role_group"/>
    </data>
</openerp>