<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <!-- ACCIONES MODELO: ESTUDIANTES - PARA: ADMINISTRADOR -->
        <record id="student_actions_administrator" model="ir.actions.act_window">
            <field name="name">Estudiantes - Administrador</field>
            <field name="res_model">python_odoo8_module.student</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.student_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.student_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: ESTUDIANTES - PARA: PROFESOR -->
        <record id="student_actions_teacher" model="ir.actions.act_window">
            <field name="name">Estudiantes - Profesor</field>
            <field name="res_model">python_odoo8_module.student</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.student_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.student_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: ESTUDIANTES - PARA: ESTUDIANTE -->
        <record id="student_actions_student" model="ir.actions.act_window">
            <field name="name">Mi Perfil - Estudiante</field>
            <field name="res_model">python_odoo8_module.student</field>
            <field name="view_type">form</field>
            <field name="view_mode">form</field>
            <field name="target">current</field>
        </record>

        <record id="student_actions_student_form_view" model="ir.actions.act_window.view">
            <field name="act_window_id" ref="student_actions_student"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="python_odoo8_module.student_form_view"/>
        </record>

        <!-- ACCIONES MODELO: PROFESORES - PARA: ADMINISTRADOR -->
        <record id="teacher_actions_administrator" model="ir.actions.act_window">
            <field name="name">Profesores - Administrador</field>
            <field name="res_model">python_odoo8_module.teacher</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.teacher_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.teacher_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: PROFESORES - PARA: PROFESOR -->
        <record id="teacher_actions_teacher" model="ir.actions.act_window">
            <field name="name">Mi Perfil - Profesor</field>
            <field name="res_model">python_odoo8_module.teacher</field>
            <field name="view_type">form</field>
            <field name="view_mode">form</field>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: MATERIAS - PARA: ADMINISTRADOR -->
        <record id="subject_actions_administrator" model="ir.actions.act_window">
            <field name="name">Materias - Administrador</field>
            <field name="res_model">python_odoo8_module.subject</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.subject_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.subject_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: MATERIAS - PARA: PROFESOR -->
        <record id="subject_actions_teacher" model="ir.actions.act_window">
            <field name="name">Materias - Profesor</field>
            <field name="res_model">python_odoo8_module.subject</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.subject_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.subject_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: MATERIAS - PARA: ESTUDIANTE -->
        <record id="subject_actions_student" model="ir.actions.act_window">
            <field name="name">Materias - Estudiante</field>
            <field name="res_model">python_odoo8_module.subject</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.subject_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.subject_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: AULAS - PARA: ADMINISTRADOR -->
        <record id="classroom_actions_administrator" model="ir.actions.act_window">
            <field name="name">Aulas - Administrador</field>
            <field name="res_model">python_odoo8_module.classroom</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.classroom_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.classroom_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: AULAS - PARA: PROFESOR -->
        <record id="classroom_actions_teacher" model="ir.actions.act_window">
            <field name="name">Aulas - Profesor</field>
            <field name="res_model">python_odoo8_module.classroom</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.classroom_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.classroom_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: AULAS - PARA: ESTUDIANTE -->
        <record id="classroom_actions_student" model="ir.actions.act_window">
            <field name="name">Aulas - Estudiante</field>
            <field name="res_model">python_odoo8_module.classroom</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.classroom_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.classroom_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: AGENDA - PARA: ADMINISTRADOR -->
        <record id="schedule_actions_administrator" model="ir.actions.act_window">
            <field name="name">Horarios - Administrador</field>
            <field name="res_model">python_odoo8_module.schedule</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.schedule_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.schedule_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: AGENDA - PARA: PROFESOR -->
        <record id="schedule_actions_teacher" model="ir.actions.act_window">
            <field name="name">Horarios - Profesor</field>
            <field name="res_model">python_odoo8_module.schedule</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.schedule_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.schedule_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: AGENDA - PARA: ESTUDIANTE -->
        <record id="schedule_actions_student" model="ir.actions.act_window">
            <field name="name">Agenda Estudiantil</field>
            <field name="res_model">python_odoo8_module.schedule</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.schedule_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.schedule_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: EXAMENES - PARA: ADMINISTRADOR -->
        <record id="exam_actions_administrator" model="ir.actions.act_window">
            <field name="name">Examenes - Administrador</field>
            <field name="res_model">python_odoo8_module.exam</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.exam_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.exam_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: EXAMENES - PARA: PROFESOR -->
        <record id="exam_actions_teacher" model="ir.actions.act_window">
            <field name="name">Examenes - Profesor</field>
            <field name="res_model">python_odoo8_module.exam</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.exam_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.exam_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: EXAMENES - PARA: ESTUDIANTE -->
        <record id="exam_actions_student" model="ir.actions.act_window">
            <field name="name">Examenes - Estudiante</field>
            <field name="res_model">python_odoo8_module.exam</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.exam_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.exam_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: RESULTADOS - PARA: ADMINISTRADOR -->
        <record id="result_actions_administrator" model="ir.actions.act_window">
            <field name="name">Resultados - Administrador</field>
            <field name="res_model">python_odoo8_module.result</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.result_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.result_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: RESULTADOS - PARA: PROFESOR -->
        <record id="result_actions_teacher" model="ir.actions.act_window">
            <field name="name">Resultados - Profesor</field>
            <field name="res_model">python_odoo8_module.result</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.result_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.result_search_view"/>
            <field name="target">current</field>
        </record>

        <!-- ACCIONES MODELO: RESULTADOS - PARA: ESTUDIANTE -->
        <record id="result_actions_student" model="ir.actions.act_window">
            <field name="name">Resultados - Estudiante</field>
            <field name="res_model">python_odoo8_module.result</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="python_odoo8_module.result_tree_view"/>
            <field name="search_view_id" ref="python_odoo8_module.result_search_view"/>
            <field name="target">current</field>
        </record>


        <!-- MENUS: ADMINISTRADOR -->
        <menuitem id="primary_menu_administrator" name="Administración Estudiantil" sequence="1" groups="python_odoo8_module.admin_role_group"/>
        <menuitem id="submenu_student_administrator" name="Administracion | Estudiantes" parent="primary_menu_administrator"/>
        <menuitem id="submenu_student_administrator_item" name="Estudiantes" parent="submenu_student_administrator" action="student_actions_administrator" groups="python_odoo8_module.admin_role_group"/>
        <menuitem id="submenu_teacher_administrator" name="Administracion | Profesores" parent="primary_menu_administrator"/>
        <menuitem id="submenu_teacher_administrator_item" name="Profesores" parent="submenu_teacher_administrator" action="teacher_actions_administrator" groups="python_odoo8_module.admin_role_group"/>
        <menuitem id="submenu_subject_administrator" name="Administracion | Materias" parent="primary_menu_administrator"/>
        <menuitem id="submenu_subject_administrator_item" name="Materias" parent="submenu_subject_administrator" action="subject_actions_administrator" groups="python_odoo8_module.admin_role_group"/>
        <menuitem id="submenu_classroom_administrator" name="Administracion | Aulas" parent="primary_menu_administrator"/>
        <menuitem id="submenu_classroom_administrator_item" name="Aulas" parent="submenu_classroom_administrator" action="classroom_actions_administrator" groups="python_odoo8_module.admin_role_group"/>
        <menuitem id="submenu_schedule_administrator" name="Administracion | Horarios" parent="primary_menu_administrator"/>
        <menuitem id="submenu_schedule_administrator_item" name="Horarios" parent="submenu_schedule_administrator" action="schedule_actions_administrator" groups="python_odoo8_module.admin_role_group"/>
        <menuitem id="submenu_exam_administrator" name="Administracion | Exámenes" parent="primary_menu_administrator"/>
        <menuitem id="submenu_exam_administrator_item" name="Exámenes" parent="submenu_exam_administrator" action="exam_actions_administrator" groups="python_odoo8_module.admin_role_group"/>
        <menuitem id="submenu_result_administrator" name="Administracion | Resultados" parent="primary_menu_administrator"/>
        <menuitem id="submenu_result_administrator_item" name="Resultados" parent="submenu_result_administrator" action="result_actions_administrator" groups="python_odoo8_module.admin_role_group"/>

        <!-- MENUS: MAESTRO - PROFESOR -->
        <menuitem id="primary_menu_teacher" name="Portal Academico" sequence="2" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_student_teacher" name="Manejo | Estudiantes" parent="primary_menu_teacher"/>
        <menuitem id="submenu_student_teacher_item" name="Mis Estudiantes" parent="submenu_student_teacher" action="student_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_teacher_teacher" name="Manejo | Profesor" parent="primary_menu_teacher"/>
        <menuitem id="submenu_teacher_teacher_item" name="Mi Informacion" parent="submenu_teacher_teacher" action="teacher_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_subject_teacher" name="Manejo | Materia" parent="primary_menu_teacher"/>
        <menuitem id="submenu_subject_teacher_item" name="Mi Materia" parent="submenu_subject_teacher" action="subject_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_classroom_teacher" name="Manejo | Aulas" parent="primary_menu_teacher"/>
        <menuitem id="submenu_classroom_teacher_item" name="Mis Aulas" parent="submenu_classroom_teacher" action="classroom_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_schedule_teacher" name="Manejo | Horarios" parent="primary_menu_teacher"/>
        <menuitem id="submenu_schedule_teacher_item" name="Mis horarios" parent="submenu_schedule_teacher" action="schedule_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_exam_teacher" name="Manejo | Exámenes" parent="primary_menu_teacher"/>
        <menuitem id="submenu_exam_teacher_item" name="Mis Examenes" parent="submenu_exam_teacher" action="exam_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>
        <menuitem id="submenu_result_teacher" name="Manejo | Resultados" parent="primary_menu_teacher"/>
        <menuitem id="submenu_result_teacher_item" name="Resultados" parent="submenu_result_teacher" action="result_actions_teacher" groups="python_odoo8_module.teacher_role_group"/>

        <!-- MENUS: ESTUDIANTE -->
        <menuitem id="primary_menu_student" name="Portal Estudiantil" sequence="3" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_student_student" name="Informacion | Estudiante" parent="primary_menu_student"/>
        <menuitem id="submenu_student_student_item" name="Mi Información" parent="submenu_student_student" action="student_actions_student" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_subject_student" name="Informacion | Materias" parent="primary_menu_student"/>
        <menuitem id="submenu_subject_student_item" name="Materias" parent="submenu_subject_student" action="subject_actions_student" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_classroom_student" name="Informacion | Aulas" parent="primary_menu_student"/>
        <menuitem id="submenu_classroom_student_item" name="Aulas" parent="submenu_classroom_student" action="classroom_actions_student" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_schedule_student" name="Informacion | Horarios" parent="primary_menu_student"/>
        <menuitem id="submenu_schedule_student_item" name="Agenda Estudiantil" parent="submenu_schedule_student" action="schedule_actions_student" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_exam_student" name="Informacion | Examenes" parent="primary_menu_student"/>
        <menuitem id="submenu_exam_student_item" name="Exámenes" parent="submenu_exam_student" action="exam_actions_student" groups="python_odoo8_module.student_role_group"/>
        <menuitem id="submenu_result_student" name="Informacion | Resultados" parent="primary_menu_student"/>
        <menuitem id="submenu_result_student_item" name="Resultados" parent="submenu_result_student" action="result_actions_student" groups="python_odoo8_module.student_role_group"/>

    </data>
</openerp>